development:
      host: localhost
      adapter: mysql
      database: fedena
      port: 3306
      username: root
      password: DEV_PASS

test: &test
      host: localhost
      adapter: mysql
      database: fedena
      port: 3306
      username: root
      password: TEST_PASS

production:
      host: localhost
      adapter: mysql
      database: fedena
      port: 3306
      username: root
      password: PROD_PASS
cucumber:
  <<: *test
